
 <div id="jquery_jplayer_1"></div>
<div id="jp_container_1">
 <a href="#" class="jp-play"></a>
 <a href="#" class="jp-pause">Reproduciendo</a>
</div>
<ul class="eyetec_historia">
  

{{#each historia}}
<li>{{text}}<span data-livestamp="{{date}}" title="{{date}}"></span></li>
{{/each}}

</ul>