<button type="button" class="btn btn-primary eyetec_mode_ch" data-toggle="button">Modo barrido</button>

<div class="container">
    
        <div id="jquery_jplayer_1"></div>
<div id="jp_container_1">
 <a href="#" class="jp-play"></a>
 <a href="#" class="jp-pause">Reproduciendo</a>
</div>
        
<!--   <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>       -->
        <div class="eyetec_last">
        
        <h2>Bievenido</h2><span></span>
        </div>
        
        <!-- Main component for a primary marketing message or call to action -->
        <div class="row eyetec">
            <div class="col-md-2 active" data-text="Quiero ir al ba単o">

                <i class="eye-bano"></i>
                <span>Ba単o</span>

            </div>
            <div class="col-md-2" data-text="Dame amor">

                <i class="eye-amor"></i>

                <span>Amor</span>

            </div>
            <div class="col-md-2" data-text="Tengo frio">

                <i class="eye-frio"></i>

                <span>Frio</span>

            </div>
            <div class="col-md-2" data-text="Quiero ba単arme">

                <i class="eye-ducharse"></i>

                <span>Ducharse</span>

            </div>
            <div class="col-md-2" data-text="Tengo calor">

                <i class="eye-calor"></i>

                <span>Calor</span>

            </div>
            <div class="col-md-2" data-text="Tengo hambre">

                <i class="eye-hambre"></i>

                <span>Comer</span>

            </div>
        </div>
        
        
        
        <div class="row eyetec">
            <div class="col-md-2" data-text="Tengo sue単o, quiero dormir">

                <i class="eye-dormir"></i>

                <span>Dormir</span>

            </div>
            <div class="col-md-2" data-text="Quiero jugar">

                <i class="eye-jugar"></i>

                <span>Jugar</span>

            </div>
            <div class="col-md-2" data-text="Quiero ir a pasear">

                <i class="eye-pasear"></i>

                <span>Pasear</span>

            </div>
            <div class="col-md-2" data-text="Necesito mi medicamento">

                <i class="eye-medicamento"></i>

                <span>Medicina</span>

            </div>
            <div class="col-md-2" data-text="Tengo sed">

                <i class="eye-agua"></i>

                <span>Tomar agua</span>

            </div>
            <div class="col-md-2" data-text="Me siento enfermo">

                <i class="eye-enfermo"></i>

                <span>Enfermo</span>

            </div>
        </div>
    </div>